<div data-page="glemt-passord" class="page">
  <div class="page-content">
    <div class="content-block">
      <div class="login-screen-title" style="color:#f2862a">Glemt passord
      </div>
      <div class="page-content">
        <p>Skriv inn din E-post, så vill vi sende deg et nytt passord</p>
      </div>
      <form>
        <div class="list-block inset">
          <ul>
            <li class="item-content">
              <div class="item-inner">
                <div class="item-title floating-label">E-post</div>
                <div class="item-input">
                  <input id="email" type="email" name="username">
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div id="done-glemt-passord" class="content-block center-align ">
          <p id="glemt-passord-msg" class="input-error"></p>
          
          <div class="list-block inset center-align">
            <ul>
              <li>
                <a id="ferdig" href="#" class="item-link list-button">Ferdig</a>
              </li>
            </ul>
          </div>
        </div>
        <div id="start-glemt-passord" class="list-block inset center-align">
          <div id="done"  class="content-block input-error">
            <p id="glemt-passord-error-msg" ></p>
          </div>
          <ul>
            <li>
              <a id="send-glemt-passord" href="#" class="item-link list-button">Glemt passord</a>
            </li>
            <li>
              <a id="avbryt" href="#" class="item-link list-button">Avbryt</a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>