<div data-page="endre-passord" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left" id="back-endre-passord">
          <i class="material-icons md-36">navigate_before</i>
        </div>
        <div class="center">Endre passord</div>
      </div>
    </div>
    <div class="content-block">
      <form>
        <div class="list-block inset">
          <ul>
            <li class="item-content">
              <div class="item-inner">
                <div id="old-passord-title" class="item-title floating-label">Gammelt passord</div>
                <div class="item-input">
                  <input id="gammeltPassord" type="password">
                </div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div id="new-passord-title" class="item-title floating-label">Nytt passord</div>
                <div class="item-input">
                  <input id="nyttPassord" type="password">
                </div>
              </div>
            </li>
            <li class="item-content">
              <div class="item-inner">
                <div id="passordBekrefte-title" class="item-title floating-label">Bekreft nytt passord</div>
                <div class="item-input">
                  <input id="bekreftetNyttPassord" type="password">
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div id="start-endre-passord" class="list-block center-align">
          <div id="done"  class="content-block input-error">
            <p id="endre-passord-msg" ></p>
          </div>
          
          <ul>
            <li>
              <a id="send-endre-passord" href="#" class="item-link list-button">Endre passord</a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>