<div data-page="settings" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left">
          <i  class="material-icons open-panel">menu</i>
        </div>
        <div class="center">
          Innstillinger
        </div>
        <div class="right nb-right">
          <i class="material-icons">settings</i>
        </div>
      </div>
    </div>
    <div class="list-block inset">
      <ul>
        <li class="item-divider" style="background-color: #FFFFFF">Brukerinnstillinger</li>
        <li>
          <a href="views/settings/endre-bruker.html" class="item-link">
            <div class="item-content">
              <div class="item-media">
                <i class="material-icons">person</i>
              </div>
              <div class="item-inner">
                <div class="item-title">
                  Brukerinformasjon
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="views/settings/endre-parkeringsplass.html" class="item-link">
            <div class="item-content">
              <div class="item-media">
                <i class="material-icons">local_parking</i>
              </div>
              <div class="item-inner">
                <div class="item-title">
                  Parkeringsplasser
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="views/settings/endre-biler.html" class="item-link">
            <div class="item-content">
              <div class="item-media">
                <i class="material-icons">directions_car</i>
              </div>
              <div class="item-inner">
                <div class="item-title">
                  Biler
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="views/settings/endre-varslinger.html" class="item-link">
            <div class="item-content">
              <div class="item-media">
                <i class="material-icons">turned_in_not</i>
              </div>
              <div class="item-inner">
                <div class="item-title">
                  Varslinger
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="views/settings/endre-passord.html" class="item-link">
            <div class="item-content">
              <div class="item-media">
                <i class="material-icons">vpn_key</i>
              </div>
              <div class="item-inner">
                <div class="item-title">
                  Endre passord
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>