<div data-page="messages" class="page">
  <div class="page-content messages-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left open-panel" >
          <i ide="message-back" class="material-icons">navigate_before</i>
        </div>
        <div class="center">Meldinger</div>
        <div class="right nb-right">
          <i class="material-icons">chat</i>
        </div>
      </div>
    </div>

    <div class="messages messages-init" data-auto-layout="true" data-new-messages-first="false">
      <div class="messages-date">Sunday, Feb 9 <span>12:58</span></div>
 
      <div class="message message-sent">
        <div class="message-text">Hello</div>
      </div>
 
    </div>
  </div>
</div>