<div data-page="messages" class="page toolbar-fixed">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left nb-left" id="message-back">
        <i class="material-icons md-36">navigate_before</i>
      </div>
      <div class="center"><span id="title"></span></div>
      <div class="right nb-right">
        <i class="material-icons">chat</i>
      </div>
    </div>
  </div>
  <div class="toolbar messagebar" style="background-color: #FFFFFF">
    <div class="toolbar-inner">
      <textarea placeholder="Message"></textarea><a href="#" class="link"><i class="material-icons">send</i></a>
    </div>
  </div>
  <div class="page-content messages-content">
    <div class="content-block">
    <br>
      <div class="messages">
      </div>
    </div>
  </div>
</div>