<div data-page="free-parking" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left">
          <i  class="material-icons open-panel md-36">menu</i>
        </div>
        <div class="center">
          Ledig parkeringsplass
        </div>
        <div class="right nb-right">
          <i class="material-icons">more_horiz</i>
        </div>
      </div>
    </div>
    <div class="page-content">
      <!-- Timeline -->
      <div class="timeline">

      </div>
    </div>
  </div>
</div>