<div data-page="free-parking" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left">
          <i id="free-parkering-back" class="material-icons md-36">navigate_before</i>
        </div>
        <div class="center">
          Ledig parkeringsplass
        </div>
      </div>
    </div>
    <div class="page-content">
      <div class="center-align">
        <p><span data-progress="0" class="progressbar"></span></p>
        <p><span id="statusText" style="font-size: 19px"></span></p>
      </div>
      <!-- Timeline -->
      <div class="timeline">
      </div>
      <div class="center-align">
        <p >
          <div class="buttons-row center-align valign-center">
            <a id="cancel-free-parking" href="#" class="button button-fill button-big color-red center-align">Stopp nye tilbud</a>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>