<div data-page="new-free-parkering" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left open-panel" >
          <i class="material-icons md-36">menu</i>
        </div>
        <div class="center">Tilby ledig parkering</div>
      </div>
    </div>
    <div class="row">
      <div class="col-50">
        <a href="views/request/new-parking.html" class="button button-big notactive">ETTERSPØR</a>
      </div>
      <div class="col-50">
        <a href="views/request/new-free-parking.html" class="button button-big">TILBY</a>
      </div>
    </div>
    <div class="list-block inset align-top">
      <ul class="align-top">
        <li class="align-top">
          <a href="#" class="item-link smart-select">
            <select id="parkeringsplasser" multiple>
            </select>
            <div class="item-content">
              <div class="item-media">
                <i class="material-icons">local_parking</i>
              </div>
              <div class="item-inner">
                <div class="item-title label">Parkeringsplass</div>
              </div>
            </div>
          </a>
        </li>
        <li class="align-top">
          <div class="item-content">
            <div class="item-media">
              <i class="material-icons">access_time</i>
            </div>
            <div class="item-inner">
              <div class="item-title label">Fom</div>
              <div class="item-input">
                <input id="tilbud-fom" type="datetime-local" placeholder="Til" step="3600">
              </div>
            </div>
          </div>
        </li>
        <li class="align-top">
          <div class="item-content">
            <div class="item-media">
              <i class="material-icons">access_time</i>
            </div>
            <div class="item-inner">
              <div class="item-title label">Til</div>
              <div class="item-input">
                <input id="tilbud-tom" type="datetime-local" placeholder="Til" step="3600">
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="list-block center-align">
      <span id="new-free-parkering-error" class="input-error"> </span>
      <ul>
        <li>
          <a id="lagre-free-parking" href="#" class="item-link list-button">Send</a>
        </li>
      </ul>
    </div>
  </div>
</div>