<div data-page="brukervilkar" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left" id="back-brukervilkar">
          <i class="material-icons">navigate_before</i>
        </div>
        <div class="center">Brukervilkår</div>
        <div class="right nb-right">
          <i class="material-icons">list</i>
        </div>
      </div>
    </div>
    <div class="content-block">
    <h2>Brukervilkår</h2>

<p>INNLEDNING</p>
Vennligst les disse brukervilkårene for Lillo nydalen parkering appen ("Brukervilkårene") nøye før du bruker Lillo Nydalen parkering appen ("Lillo Nydalen parkering").

Din tilgang til og bruk av Lillo Nydalen parkering er betinget av at du aksepterer disse Brukervilkårene. Brukervilkårene gjelder for alle besøkende, brukere og andre som har tilgang til Lillo Nydalen parkering. Bruk av formidlingstjenesten som gjøres tilgjengelig via Lillo Nydalen parkering appen forutsetter videre at det er inngått en egen avtale om slik formidling mellom Lillo Nydalen parkering og deg som sjåfør eller passasjer.

Hvis du har spørsmål vedrørende disse vilkårene eller annet ber vi om at du kontakter oss på hjelp@lillonydalenparkering.no.

<p>OPPRETTELSE AV KONTO<p>
Ved å opprette en konto hos oss forplikter du deg til å gi oss informasjon som er korrekt, nøyaktig, fullstendig, og til å holde denne oppdatert til enhver tid. Unnlatelse av å gjøre dette utgjør et vesentlig et brudd på vilkårene som kan resultere i umiddelbar oppsigelse av din Lillo Nydalen parkering konto.

Brukernavn og passord tilknyttet din brukerkonto er strengt personlig. Du er ansvarlig for å påse at ditt passord ikke på noe tidspunkt gjøres tilgjengelig for andre, og kan bli holdt ansvarlig for all aktivitet knyttet til din brukerkonto. Ved mistanke om at andre har tilgang til ditt passord eller brukerkonto plikter du å varsle Lillo Nydalen parkering umiddelbart.

Du kan ikke registrere et brukernavn som er navnet på en annen fysisk eller juridisk person, eller som det forøvrig ikke er lovlig å bruke, herunder navn som kan være egnet til å forveksles med en annens navn eller varemerke, eller et navn som ellers er støtende, vulgært eller uanstendig.

Når du registrerer via Lillo Nydalen parkering appen vil du gi visse opplysninger om deg selv (f.eks informasjon om bilen etc.). Du plikter å gi fullstendig og nøyaktig informasjon til Lillo Nydalen parkering. Lillo Nydalen parkering vil bruke tjenester levert av tredjeparter for å verifisere opplysningene du oppgir til oss og for å innhente ytterligere informasjon som er relevant for tjenestene. Ved å opprette en brukerkonto samtykker du i at Lillo Nydalen parkering kan innhente, bruke og lagre slik informasjon.

Lillo Nydalen parkering har rett til å levere meldinger til deg på den sist registrerte e-post- og telefonnummer, og slike meldinger skal anses mottatt og gyldige uavhengig av om e-post- eller faktureringsadressen er i bruk.

Lillo Nydalen parkering kan fritt godta eller avvise søknader om opprettelse av brukerkonto uten nærmere begrunnelse.

<p>BRUKERINNHOLD</p>
Vår tjeneste gjør at du kan skrive beskrivelse, lagre, dele og ellers gjøre tilgjengelig visse opplysninger som tekst, grafikk, bilder eller annet materiale (“Brukerinnhold”). Du er ansvarlig for Brukerinnholdet som overføres til Lillo Nydalen parkering fra din brukerkonto, og er forpliktet til å påse at Brukerinnholdet er passende, lovlig og relevant i relasjon til tjenestens formål.

Brukerinnhold som overføres til Lillo Nydalen parkering gjøres tilgjengelig for andre eksisterende eller potensielle brukere av Lillo Nydalen parkering. Ved å overføre Brukerinnhold til Lillo Nydalen parkering, gir du derfor Lillo Nydalen parkering en ikke-eksklusiv overførbar rett til å bruke, endre, vise offentlig, reprodusere og distribuere Brukerinnholdet på ethvert nettsted tilhørende Lillo Nydalen parkering og dens samarbeidspartnere, herunder andre markedsførings- og distribusjonskanaler (f.eks. Facebook, Adwords, markedsmateriell og lignende). Denne retten gjelder også etter at du slutter å anvende tjenesten. Utover den begrensede retten for Lillo Nydalen parkering beskrevet ovenfor, beholder du alle dine rettigheter til Brukerinnholdet.

Du bekrefter og garanterer at du er eier av Brukerinnholdet eller har rett til å bruke det og gi Lillo Nydalen parkering rettigheter til å bruke det i henhold til disse Vilkårene. Du garanterer videre at publisering av Brukerinnholdet gjennom Lillo Nydalen parkering appen eller i andre distribusjonskanaler ikke krenker personvernet, bilderettigheter, opphavsrettigheter, kontraktsrettigheter eller andre rettigheter tilhørende noen fysisk eller juridisk person. Du plikter forøvrig å gjøre deg kjent med og overholde de ordensregler og retningslinjer som tilenhver tid gjelder for tjenesten.

Lillo Nydalen parkering er ikke forpliktet til å føre tilsyn med ditt eller andres Brukerinnhold. Lillo Nydalen parkering forbeholder seg imidlertid retten til å gjennomgå Brukerinnhold og etter eget skjønn fjerne dette.

<p>Rettigheter til Lillo Nydalen parkering</p>

Lillo Nydalen parkering og dens tjenester, innhold (unntatt ditt Brukerinnhold), funksjoner og funksjonalitet er og vil forbli den eksklusive eiendommen til Lillo Nydalen parkering og dens lisensgivere. Lillo Nydalen parkering er beskyttet av opphavsrettigheter, databaserettigheter, varemerker og andre lover i både Norge og utlandet. Det er ikke tillatt å kopiere, distribuere, fremvise, publisere eller selge informasjon, programvare, produkter eller tjenester som gjøres tilgjengelig via Lillo Nydalen parkering appen eller på Lillo Nydalen parkering.no.

<p>Lenker til andre nettsteder</p>

Vår tjeneste kan inneholde lenker til tredjeparts nettsteder eller tjenester som ikke er eiet eller kontrollert av Lillo Nydalen parkering.

Lillo Nydalen parkering har ingen kontroll over, og påtar seg intet ansvar for, innholdet, personvernreglene, eller praksis fra tredjeparts nettsteder eller tjenester. Du erkjenner og godtar at Lillo Nydalen parkering ikke skal være ansvarlig eller erstatningspliktig, direkte eller indirekte, for noen skade eller tap som skyldes eller påstås å være forårsaket av eller i forbindelse med bruk av eller tillit til slikt innhold, varer eller tjenester videre tilgjengelig på eller via slike nettsteder eller tjenester.

Vi anbefaler deg å lese vilkårene og personvernpolitikken for eventuelle tredjeparts nettsteder eller tjenester som du besøker.

<p>Oppsigelse av brukerkonto eller avvikling av tjenestene</p>

Lillo Nydalen parkering kan på ethvert tidspunkt og uten varsel endre eller avvikle enhver av tjenestene som tilbys.

Lillo Nydalen parkering har rett til fritt å avslutte eller suspendere kontoen din umiddelbart, uten forvarsel eller ansvar, uansett grunn, inkludert hvis du bryter vilkårene. Ved avslutning eller suspensjon av brukerkontoen vil din rett til å bruke tjenestene som gjøres tilgjengelig via Lillo Nydalen parkering appen umiddelbart opphøre.

<p>Begrensning av ansvar</p>

Tjenestene og informasjonen som gjøres tilgjengelig via Lillo Nydalen parkering appen tilbys “som det er” uten noen garantier. Lillo Nydalen parkering og dens samarbeidspartnere kan ikke under noen omstendighet holdes ansvarlig for skader på ting, tap av data, tapt fortjeneste eller noe annet tap eller kostnad som kan oppstå i forbindelse med bruk av tjenesten, eller som følge av manglende leveranse av tjenesten.

<p>Endringer</p>

Lillo Nydalen parkering forbeholder seg til enhver tid retten til å endre eller erstatte disse Brukervilkårene. Oppdaterte brukervilkår vil bli gjort tilgjengelig på Lillo Nydalen parkering.no Dersom endringene i Brukervilkårene etter Lillo Nydalen parkerings vurdering innebærer en vesentlig endring av brukerens rettigheter eller plikter, vil endringene gjøres tilgjengelig på Lillo Nydalen parkering.no 30 dager før de trer i kraft.

Ved å fortsette bruk av tjenesten etter at endringene i Brukervilkårene er gjort tilgjengelig på Lillo Nydalen parkering.no godtar du å være bundet av de oppdaterte Brukervilkårene. Dersom du ikke godtar de nye vilkårene, må du slutte å bruke tjenesten.

<p>Lovvalg</p>

Disse vilkårene er underlagt og skal tolkes i samsvar med norsk rett.
     </p>
    </div>
  </div>
</div>