<div data-page="brukervilkar" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left" id="back-brukervilkar">
          <i class="material-icons">navigate_before</i>
        </div>
        <div class="center">Brukervilkår</div>
        <div class="right nb-right">
          <i class="material-icons">list</i>
        </div>
      </div>
    </div>
    <div class="content-block">
      <h1 >Brukervilkår</h1>
    </div>
  </div>
</div>