<div data-page="hjelp" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left" id="back-hjelp">
          <i class="material-icons md-36">navigate_before</i>
        </div>
        <div class="center">Hjelp</div>
      </div>
    </div>
    <div class="content-block">
      <h2>Hjelp</h2>

      For hjelp eller andre henvendelser, kontakt <a  class="external" href="mailto:hjelp@lillonydalenparkering.no"> hjelp@lillonydalenparkering.no</a>
 
    </div>
  </div>
</div>