<div data-page="personvern" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left" id="back-personvern">
          <i class="material-icons">navigate_before</i>
        </div>
        <div class="center">Personvern</div>
        <div class="right nb-right">
          <i class="material-icons">fingerprint</i>
        </div>
      </div>
    </div>
    <div class="content-block">
        <h2>Personvern</h2>
        <p>
        Når du benytter på Lillo Nydalen parkering ber vi deg oppgi fullt navn, e-post, telefonnummer og registreringsnummer på bil. Dette gjør vi for å kunne administrere dine parkeringsforespørsler og ha mulighet til å kontakte deg ved behov. Denne informasjonen vil bli oppbevart så lenge du har et aktivt forhold hos oss. Vi oppbevarer av sikkerhetshensyn også IP-adressen som er benyttet for å registrere bestillinger. Informasjonen er tilgjengelig og kan endres og evt. slettes på siden din.
        </p>

<h3>Informasjonskapsler (Cookies)</h3>
<p>
Dette nettstedet bruker informasjonskapsler (cookies). Informasjonskapsler er en tekststreng som blir lagret på din PC eller mobile enhet når du besøker Lillo Nydalen parkering. Denne er nødvendig for at du skal kunne registrere deg og gjennomføre bestillinger. Dersom du ikke ønsker å tillate bruk av informasjonskapsler, kan du sørge for dette ved å endre innstillingene i nettleseren eller på enheten din. 
</p>
<p>
Vi lagrer en permanent informasjonskapsel som brukes for å gjenkjenne deg når du kommer tilbake. Denne slettes når du logger deg ut av kontoen din. Vi samler også inn og oppbevarer loggdata om hvilke forespørsler og tilbud du gjennomfører innenfor appen, for å kunne lære hva våre brukere er opptatt av. Informasjonen benyttes også for å produsere trafikkstatistikker for bl.a. kapasitetsplanlegging.
</p>
<p>
Tredjeparts leverandører, inkludert Google (Doubleclick), bruker også informasjonskapsler og anonyme identifikatorer på lillo nydalen parkering. 

<p>
Du kan velge bort informasjonskapsler fra Google og Doubleclick ved å gå til Googles Annonseinnstillinger. Dersom du ikke ønsker å sende data til Google Analytics, kan du forhindre dette ved å følge denne linken: https://tools.google.com/dlpage/gaoptout/.</p>

<h3>Personopplysninger til tredjepart</h3>

Lillo nydalen parkering selger ikke personopplysninger til tredjepart, og vi bytter eller videreformidler heller ikke slik informasjon med tredjepart..

Personopplysninger og informasjon om bestillinger kan også bli utlevert til politi eller andre offentlige myndigheter hvis det er nødvendig for å overholde juridiske eller forskriftsmessige forpliktelser eller forespørsler.



    </div>
  </div>
</div>