<div data-page="endre-varslinger" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left" id="back-endre-varslinger">
          <i class="material-icons">navigate_before</i>
        </div>
        <div class="center">Varslinger</div>
        <div class="right nb-right">
          <i class="material-icons">turned_in_not</i>
        </div>
      </div>
    </div>
    <div class="content-block">
        <div class="list-block inset">
          <ul>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title label">Ønsker du å låne ut din parkering?</div>
                  <div class="item-input">
                    <label class="label-switch">
                      <input id="has-parking" type="checkbox" checked>
                      <div class="checkbox"></div>
                    </label>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title label">Ønsker du å låne parkering av andre?</div>
                  <div class="item-input">
                    <label class="label-switch">
                      <input id="needs-parking" type="checkbox" checked>
                      <div class="checkbox"></div>
                    </label>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="item-content">
                <div class="item-inner">
                  <div class="item-title label">Ønsker du push varsler?</div>
                  <div class="item-input">
                    <label class="label-switch">
                      <input id="wants-push" type="checkbox" checked>
                      <div class="checkbox"></div>
                    </label>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="list-block inset center-align">
          <ul>
            <li>
              <a id="new-user-done" href="#" class="item-link list-button">Ferdig</a>
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>