<div data-page="endre-biler" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left" id="back-endre-biler">
          <i class="material-icons">navigate_before</i>
        </div>
        <div class="center">Biler</div>
        <div class="right nb-right">
          <i class="material-icons">directions_car</i>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="list-block">
        <div class="content-block-title right-align">
          <i id="addCar" class="material-icons" style="color:#ff9100;">add_circle</i>
        </div>
        <ul id="cars">
        </ul>
      </div>
      <div class="list-block center-align">
        <p id="cars-error" class="input-error"> </p>
        <ul>
          <li>
            <a id="save-car" href="#" class="item-link list-button">Lagre</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>