<div data-page="endre-bruker" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left" id="back-endre-bruker">
          <i class="material-icons">navigate_before</i>
        </div>
        <div class="center">Endre brukerinformasjon</div>
        <div class="right nb-right">
          <i class="material-icons">person</i>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div id="fornavn-title" class="item-title floating-label">Fornavn</div>
                <div class="item-input">
                  <input id="fornavn" type="text">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div id="etternavn-title" class="item-title floating-label">Etternavn</div>
                <div class="item-input">
                  <input id="etternavn" type="text">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div id="phone-title" class="item-title floating-label">Telefonnummer</div>
                <div class="item-input">
                  <input id="telefon" type="tel" placeholder="telefon">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div id="email-title" class="item-title floating-label">E-post</div>
                <div class="item-input">
                  <input id="email" type="email" placeholder="epost">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="list-block inset center-align">
        <p id="user-error" class="input-error"></p>
        <ul>
          <li>
            <a id="lagre-bruker" href="#" class="item-link list-button">Lagre</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>