<div data-page="endre-parkerigsplass" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left" id="back-endre-parkeringsplass">
          <i class="material-icons">navigate_before</i>
        </div>
        <div class="center">Parkeringsplasser</div>
        <div class="right nb-right">
          <i class="material-icons">local_parking</i>
        </div>
      </div>
    </div>
    <div class="content-block">
      <div class="list-block">
        <div class="content-block-title right-align">
          <i id="addParking" class="material-icons" style="color:#ff9100;">add_circle</i>
        </div>
        <ul id="parkeringsplasser">
        </ul>
      </div>
      <div class="list-block inset center-align">
        <p id="parking-error" class="input-error"> </p>
        <ul>
          <li>
            <a id="save-parkering" href="#" class="item-link list-button">Lagre</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>