<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <i class="icon icon-bars open-panel color-white"></i>
    </div>
    <div class="center">Mine forespørsler</div>
  </div>
</div>
<div data-page="newRequest" class="page">
  <div class="page-content ">
    <div id="new-request-view-cards" class="content-block"><br>
      <div id="new-requests-cards"> </div>
    </div>
    <div id="new-request-view-loading" class="content-block center-align vertical-center">
      <img src="../img/loading.gif"/>
    </div>
    <div id="new-request-view-fail" class="content-block center-align vertical-center">
      <i class="icon warning-icon"></i>
      <h2>Mangler brukerinformasjon</h2>
    </div>
  </div>
</div>
