<div data-page="personvern" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left" id="back-personvern">
          <i class="material-icons">navigate_before</i>
        </div>
        <div class="center">Personvern</div>
        <div class="right nb-right">
          <i class="material-icons">fingerprint</i>
        </div>
      </div>
    </div>
    <div class="content-block">
      <h1 >Personvern</h1>
    </div>
  </div>
</div>