<div class="navbar">
  <div class="navbar-inner">
    <div class="left">
      <i class="icon icon-bars open-panel color-white"></i>
    </div>
    <div class="center">Parkeringsforespørsel</div>
  </div>
</div>
<div data-page="new-request" class="page">
  <div class="page-content"><br>
    <div id="parking-request-fail" class="content-block center-align vertical-center">
      <i class="icon warning-icon"></i>
      <h2>Mangler brukerinformasjon</h2>
    </div>
    <div id="request-view-loading" class="content-block center-align vertical-center">
      <img src="../img/loading.gif"/>
    </div>
    <div id="parking-request" class="list-block inset">
      <div class="content-block center-align">
        <i class="icon parking-request-large-icon"></i>
      </div>
      <ul>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon icon-form-name"></i></div>
            <div class="item-inner">
              <div class="item-title label">Regnr</div>
              <div class="item-input">
                <input id="request-regnr" type="text" placeholder="Registreringsnummer">
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon icon-form-calendar"></i></div>
            <div class="item-inner">
              <div class="item-title label">Fra</div>
              <div class="item-input">
                <input id="request-fom" type="datetime-local" placeholder="Fra" step="3600" >
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="item-content">
            <div class="item-media"><i class="icon icon-form-calendar"></i></div>
            <div class="item-inner">
              <div class="item-title label">Til</div>
              <div class="item-input">
                <input id="request-tom" type="datetime-local" placeholder="Til" step="3600">
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div id="request-tildeltParkering">
        <div class="center-align">
          <h5>Parkeringstilbud</h5>
        </div>
        <ul>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-name"></i></div>
              <div class="item-inner">
                <div class="item-title label">Parkering: </div>
                <div class="item-input">
                  <input id="request-parkering" type="text" disabled>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-name"></i></div>
              <div class="item-inner">
                <div class="item-title label">Eier: </div>
                <div class="item-input">
                  <input id="request-eier" type="text" disabled>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-tel"></i></div>
              <div class="item-inner">
                <div class="item-title label">Telefon eier:</div>
                <div class="item-input">
                  <input id="request-eier-telefon" type="text" disabled>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div id="request-venter-svar" class="center-align">
        <h4>Parkeringstilbud</h4>
        <p>Venter på svar</p>
      </div>
      <div class="item-content">
        <div class="item-inner">
          <span class="center-align">
            <img id="request-loading" src="./img/loading_small.gif" />
            <i id="send-request" class="button button-big button-fill color-orange">Send</i>
            <i id="cancel-request" class="button button-big button-fill color-red">Avbryt</i>
            <i id="done-request" class="button button-big button-fill color-red">Avslutt</i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>