<div data-page="settings" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <i  class="material-icons open-panel">menu</i>
        </div>
        <div class="center">
          Instillinger
        </div>
      </div>
    </div>
    <div class="list-block">
      <ul>
        <li class="item-divider" style="background-color: #FFFFFF">Brukerinstillinger</li>
        <li>
          <a href="views/endre-bruker.html" class="item-link">
            <div class="item-content">
              <div class="item-media">
                <i class="material-icons">person</i>
              </div>
              <div class="item-inner">
                <div class="item-title">
                  Brukerinformasjon
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="views/endre-passord.html" class="item-link">
            <div class="item-content">
              <div class="item-media">
                <i class="material-icons">vpn_key</i>
              </div>
              <div class="item-inner">
                <div class="item-title">
                  Endre passord
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="views/endre-passord.html" class="item-link">
            <div class="item-content">
              <div class="item-media">
                <i class="material-icons">local_parking</i>
              </div>
              <div class="item-inner">
                <div class="item-title">
                  Parkeringsinformasjon
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="views/endre-passord.html" class="item-link">
            <div class="item-content">
              <div class="item-media">
                <i class="material-icons">turned_in_not</i>
              </div>
              <div class="item-inner">
                <div class="item-title">
                  Varslinger
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="item-divider" style="background-color: #FFFFFF">Informasjon</li>
        <li>
          <a href="views/endre-passord.html" class="item-link">
            <div class="item-content">
              <div class="item-media">
                <i class="material-icons">fingerprint</i>
              </div>
              <div class="item-inner">
                <div class="item-title">
                  Personvern
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="views/endre-passord.html" class="item-link">
            <div class="item-content">
              <div class="item-media">
                <i class="material-icons">list</i>
              </div>
              <div class="item-inner">
                <div class="item-title">
                  Brukervilkår
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="views/endre-passord.html" class="item-link">
            <div class="item-content">
              <div class="item-media">
                <i class="material-icons">help</i>
              </div>
              <div class="item-inner">
                <div class="item-title">
                  Hjelp
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>