<div data-page="user" class="page">
  <div class="page-content">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left">
          <i class="material-icons open-panel">menu</i>
        </div>
        <div class="center">Instillinger</div>
      </div>
    </div>
    <div class="content-block">
    <br>
      <div class="list-block inset">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-name"></i></div>
              <div class="item-inner">
                <div class="item-title label">Navn</div>
                <div class="item-input">
                  <input id="user-nameInput" type="text" placeholder="Ditt navn">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-name"></i></div>
              <div class="item-inner">
                <div class="item-title label">Regnr</div>
                <div class="item-input">
                  <input id="user-regnrInput" type="text" placeholder="Registreringsnummer">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-tel"></i></div>
              <div class="item-inner">
                <div class="item-title label">Telefon</div>
                <div class="item-input">
                  <input id="user-phoneInput" type="tel" placeholder="telefon">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-name"></i></div>
              <div class="item-inner">
                <div class="item-title label">Parkering</div>
                <div class="item-input">
                  <input id="user-parkingLotInput" type="text" placeholder="parkeringsplass">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-email"></i></div>
              <div class="item-inner">
                <div class="item-title label">E-post</div>
                <div class="item-input">
                  <input id="user-emailInput" type="email" placeholder="epost">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"><i class="icon icon-form-email"></i></div>
              <div class="item-inner">
                <div class="item-title label">Passord</div>
                <div class="item-input">
                  <input id="user-passwordInput" type="password" placeholder="Passord">
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="item-content">
          <div class="item-inner">
            <span class="center-align">
              <i id="user-save" class="button button-big button-fill color-orange" >Lagre</i>
              <i id="user-saved" class="icon saved-icon"></i>
              <img id="user-save-loading" src="../img/loading_small.gif" />
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>