<div data-page="foresporsler" class="page">
  <div class="page-content bg-gray">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left">
          <i class="material-icons md-36 open-panel">menu</i>
        </div>
        <div class="center">Parkering for andre</div>
        <div class="right nb-right">
          <i class="material-icons">reply_all</i>
        </div>
      </div>
    </div>
    <div class="content-block-title">Trenger parkeringsplass</div>
    <div class="list-block media-list">
      <ul id="currentRequests">
      </ul>
    </div>
    <div id="noActiveCurrent" class="content-block">
      <span class="smalltext">Ingen forespørsler</span>
    </div>
    
    <div class="content-block-title" >Aktiv</div>
    <div class="list-block media-list">
      <ul id="activeOffers">
      </ul>
    </div>
    <div id="noActiveOffers" class="content-block">
      <span class="smalltext">Ingen parkeringstilbud</span>
    </div>
    <div class="content-block-title">Historikk</div>
    
    <div class="list-block media-list">
      <ul id="historyOffers">
      </ul>
    </div>
    <div id="noHistoryOffers" class="content-block">
      <span class="smalltext">Ingen historikk</span>
    </div>
  </div>
</div>