<div data-page="history" class="page">
  <div class="page-content bg-gray">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left">
          <i class="material-icons open-panel">menu</i>
        </div>
        <div class="center">Min historikk</div>
        <div class="right nb-right">
          <i class="material-icons">local_parking</i>
        </div>
      </div>
    </div>
    <div id="history-view-none" class="content-block center-align vertical-center">
      <i class="material-icons md-48">done_all</i>
      <h2>Ingen historikk</h2>
    </div>
    <div id="history-view-cards" class="content-block">
      <div id="history-cards"> </div>
    </div>
    <div id="history-view-loading" class="content-block center-align vertical-center">
      <img src="../img/loading.gif"/>
    </div>
    <div id="history-view-fail" class="content-block center-align vertical-center">
      <i class="material-icons md-48">warning</i>
      <h2>Mangler brukerinformasjon</h2>
    </div>
  </div>
</div>