<div data-page="history" class="page">
  <div class="page-content bg-gray">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="left nb-left">
          <i class="material-icons md-36 open-panel">menu</i>
        </div>
        <div class="center">Min historikk</div>
        <div class="right nb-right">
          <i class="material-icons">local_parking</i>
        </div>
      </div>
    </div>
    <div class="content-block-title">Aktive parkinger</div>
    <div class="list-block media-list">
      <ul id="activeRequests">
      </ul>
    </div>
    <div id="noActive" class="content-block">
      <span class="smalltext">Ingen aktive parkeringer</span>
    </div>
    <div class="content-block-title">Historikk</div>
    <div class="list-block media-list">
      <ul id="historyRequests">
      </ul>
    </div>
    <div id="noHistory" class="content-block">
      <span class="smalltext">Ingen historikk</span>
    </div>
  </div>
</div>